body{
    background-color:aqua;
       font-family: 'Saira Stencil One', cursive;
}


table{
    border: solid black;
}

h1{
    border: black solid;
    text-align: center;
}

.LPNS{
    border:black solid;
    text-align: center;
}



